NEXT_PUBLIC_HOST=http://192.168.3.124:9000
DATABASE_URL=
MONGODB_URL=
NEXT_PUBLIC_TRPC_URL=http://192.168.3.124:9000
JWT_SECRET=
OSS_ACCESS_KEY=
OSS_ACCESS_SECRET=
OSS_ACCESS_REGION_ID=
OSS_ACCESS_BUCKET_NAME=
NEXT_PUBLIC_PAYMENT_HOST=http://192.168.3.124:9091

# DEBUG="prisma:client"
